/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.media__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .media__card {
    height: 250px;
    width: 200px;
    text-align: center;
    border: 1px solid gainsboro;
    margin: 16px;

    img {
      height: 80%;
      width: 100%;
    }
  }
}

.plans__container {
  display: flex;
  justify-content: center;

  .plans__card {
    height: 500px;
    width: 350px;
    text-align: center;
    border: 1px solid gainsboro;
    margin: 16px;
  }
}
